html {
    margin:auto;
}
body {
    background-color: #ffefd5;
  }
  #header{
    max-width: 1100px;
  }
  #intro {
    display: flex;
    column-gap: 10px;
  }
  
  #intro > div {
    border: 1px black;
    flex: auto;
  }
  #photo{
      
    float: left;
    max-width: 300px;
  }
  #content{
    float: left;
    max-width: 800px;
    text-align:left;
  }
  a:link {
    color: black;
  }
  #links{
    max-width: 1110px;
  }
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }