html {
    margin: auto;
}
img.avatar {
    margin-top: 15px;
  vertical-align: middle;
  border-radius: 50%;
  
    box-shadow: 0 0 7px 4px #555;
    float: middle;
}
body {
    background-color: #ffffff;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;

  }
  #bookmark{
    background-color: rgb(207, 204, 204);
    border-bottom: 1px solid #555;
    height: 80px;
  }
  
  #bookmark_research{
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: Sans-serif;
    display: inline-block;
  }
  #bookmark_exp{
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: Sans-serif;
    display: inline-block;
  }
  #bookmark_award{
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: Sans-serif;
    display: inline-block;
  }
  #header{
    max-width: 1100px;
  }
  #intro {
    display: flex;
    column-gap: 10px;
  }
  
  #intro > div {
    border: 1px black;
    flex: auto;
  }
  #photo{
    float: left;
    max-width: 250px;
  }
 
  #content{
    float: left;
    max-width: 900px;
    text-align:left;
  }
  #footer{
      margin-top: 100px;
  }
  a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: goldenrod;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  #links{
    max-width: 1110px;
  }
  #contact {
    float: left;
    width: 50%;
  }
  h1{
      font-size: 23px;
  }
  #research {
    float: left;
    width: 50%;
  }
  td.pub_left {
    padding-top: min(20px,2%);
    padding-bottom: 20px;
    padding-left: min(20px,2%);
    padding-right: 5px;
    width: 23%;
    max-width: 23%;
    vertical-align: top;
}
td.pub_right {
    padding: min(20px,2%);
    width: 77%;
    vertical-align: top;
}
td.bio_left {
    padding-top: min(30px,2%);
    padding-bottom: 20px;
    padding-left: min(30px,2%);
    padding-right: 8px;
    width: 23%;
    max-width: 23%;
    vertical-align: middle;
}
td.bio_right {
    padding: min(30px,4%);
    width: 77%;
    vertical-align: middle;
}